/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* NavBar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #126fcdd7;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand {
  color: #0a0909;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #040b10;
}

.logout-button {
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logout-button:hover {
  color: #e74c3c;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
